In [1]:
#Import Pandas
import pandas as pd

# Preprocessing Input data
data = pd.read_csv(r'C:\Users\HP\Downloads\crx.data', header = None)
data.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [2]:
#printing length and shape of the data
print ("Dataset Length: ", len(data))
print ("Dataset Shape: ", data.shape)

Dataset Length:  690
Dataset Shape:  (690, 16)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [4]:
# Import numpy
import numpy as np

# Inspect missing values in the dataset
print(data.isnull().values.sum())

# Replace the '?'s with NaN
data = data.replace('?', np.nan)

# Inspect the missing values again
print('Total NaN: ' + str(data.isnull().values.sum()))
print('NaN by column:' '\n')  
print(data.isnull().sum())
data.tail(17)

0
Total NaN: 67
NaN by column:

0     12
1     12
2      0
3      6
4      6
5      9
6      9
7      0
8      0
9      0
10     0
11     0
12     0
13    13
14     0
15     0
dtype: int64

      0      1       2  3  4   5   6      7  8  9   10 11 12     13   14 15
673  NaN  29.50   2.000  y  p   e   h  2.000  f  f   0  f  g  00256   17  -
674    a  37.33   2.500  u  g   i   h  0.210  f  f   0  f  g  00260  246  -
675    a  41.58   1.040  u  g  aa   v  0.665  f  f   0  f  g  00240  237  -
676    a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  00129    3  -
677    b  19.42   7.250  u  g   m   v  0.040  f  t   1  f  g  00100    1  -
678    a  17.92  10.210  u  g  ff  ff  0.000  f  f   0  f  g  00000   50  -
679    a  20.08   1.250  u  g   c   v  0.000  f  f   0  f  g  00000    0  -
680    b  19.50   0.290  u  g   k   v  0.290  f  f   0  f  g  00280  364  -
681    b  27.83   1.000  y  p   d   h  3.000  f  f   0  f  g  00176  537  -
682    b  17.08   3.290  u  g   i   v  0.335  f  f   0  t  g  00140    2  -
683    b  36.42   0.750  y  p   d   v  0.585  f  f   0  f  g  00240    3  -
684    b  40.58   3.290  u  g   m   v  3.500  f  f   0  t  s  00400    0  -
685    b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  00260    0  -
686    a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  00200  394  -
687    a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  00200    1  -
688    b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  00280  750  -
689    b  35.00   3.375  u  g   c   h  8.290  f  f   0  t  g  00000    0  -

In [5]:
# Iterate over each column of cc_apps
for col in data:
    # Check if the column is of object type
    if data[col].dtypes == 'object':
        # Impute with the most frequent value
        data = data.fillna(data[col].value_counts().index[0])
# Count the number of NaNs in the dataset and print the counts to verify
print('Total missing values:' + str(data.isnull().values.sum()))
print('Missing values in each column:')
data.isnull().sum()

Total missing values:0
Missing values in each column:

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [6]:
data.tail(17)

    0      1       2  3  4   5   6      7  8  9   10 11 12     13   14 15
673  b  29.50   2.000  y  p   e   h  2.000  f  f   0  f  g  00256   17  -
674  a  37.33   2.500  u  g   i   h  0.210  f  f   0  f  g  00260  246  -
675  a  41.58   1.040  u  g  aa   v  0.665  f  f   0  f  g  00240  237  -
676  a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  00129    3  -
677  b  19.42   7.250  u  g   m   v  0.040  f  t   1  f  g  00100    1  -
678  a  17.92  10.210  u  g  ff  ff  0.000  f  f   0  f  g  00000   50  -
679  a  20.08   1.250  u  g   c   v  0.000  f  f   0  f  g  00000    0  -
680  b  19.50   0.290  u  g   k   v  0.290  f  f   0  f  g  00280  364  -
681  b  27.83   1.000  y  p   d   h  3.000  f  f   0  f  g  00176  537  -
682  b  17.08   3.290  u  g   i   v  0.335  f  f   0  t  g  00140    2  -
683  b  36.42   0.750  y  p   d   v  0.585  f  f   0  f  g  00240    3  -
684  b  40.58   3.290  u  g   m   v  3.500  f  f   0  t  s  00400    0  -
685  b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  00260    0  -
686  a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  00200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  00200    1  -
688  b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  00280  750  -
689  b  35.00   3.375  u  g   c   h  8.290  f  f   0  t  g  00000    0  -

In [7]:
# Import LabelEncoder
from sklearn.preprocessing import LabelEncoder
# Instantiate LabelEncoder
le = LabelEncoder()
# Iterate over all the values of each column and extract their dtypes
for col in data:
    # Compare if the dtype is object
    if data[col].dtypes =='object':
    # Use LabelEncoder to do the numeric transformation
        le.fit(data[col])
        data[col]=le.transform(data[col])
#  information of the new dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    int32
 1   1       690 non-null    int32
 2   2       690 non-null    float64
 3   3       690 non-null    int32
 4   4       690 non-null    int32
 5   5       690 non-null    int32
 6   6       690 non-null    int32
 7   7       690 non-null    float64
 8   8       690 non-null    int32
 9   9       690 non-null    int32
 10  10      690 non-null    int64
 11  11      690 non-null    int32
 12  12      690 non-null    int32
 13  13      690 non-null    int32
 14  14      690 non-null    int64
 15  15      690 non-null    int32
dtypes: float64(2), int32(12), int64(2)
memory usage: 54.0 KB

In [8]:
data.head(2)

   0    1     2   3   4   5   6     7   8   9   10  11  12  13   14  15
0   1  156  0.00   2   1  13   8  1.25   1   1   1   0   0  68    0   0
1   0  328  4.46   2   1  11   4  3.04   1   1   6   0   0  11  560   0

In [9]:
#droping unnecessary coloumns
data = data.drop([11,13],axis=1)
data = data.values

In [10]:
X = data[:,0:12]
Y = data[:,13]

In [11]:
#spliting data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.33, random_state = 42)
X_train.shape,X_test.shape

((462, 12), (228, 12))

In [12]:
# Buliding the model
# Import LogisticRegression
from sklearn.linear_model import LogisticRegression

# Instantiate a LogisticRegression classifier with default parameter values
logistic = LogisticRegression()

# Fit logreg to the train set
logistic.fit(X_train, y_train)

c:\users\hp\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [13]:
# Import confusion_matrix
from sklearn.metrics import confusion_matrix

# Use logreg to predict instances from the test set and store it
y_pred = logistic.predict(X_test)

# Get the accuracy score of logreg model and print it
print("Accuracy of logistic regression classifier: ", logistic.score(X_test, y_test))

#Print the confusion matrix of the logreg model
print('Confusion matrix: \n ', confusion_matrix(y_test, y_pred))

Accuracy of logistic regression classifier:  0.8464912280701754
Confusion matrix:
  [[95  8]
 [27 98]]

In [14]:
# Buliding the model
# Import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

# Instantiate the RandomForestClassifier
randomforest=RandomForestClassifier(n_estimators=100,random_state=101)

randomforest.fit(X_train,y_train)

RandomForestClassifier(random_state=101)

In [15]:
# Use logreg to predict instances from the test set and store it
y_pred = randomforest.predict(X_test)

# Get the accuracy score of logreg model and print it
print("Accuracy of random forest classifier: ", randomforest.score(X_test, y_test))
 
# Print the confusion matrix of the logreg model
print('Confusion matrix: \n ', confusion_matrix(y_test, y_pred))

Accuracy of random forest classifier:  0.8596491228070176
Confusion matrix:
  [[ 90  13]
 [ 19 106]]